* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
}
body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/110/717/original/pexels-megha-mangal-806880.jpg?1705317138");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
}

section {
  max-width: 650px;
  margin: 30px auto;
}
.label-ai {
  font-size: 16px;
  color: #520c11;
  font-weight: 500;
  margin: 10px;
  text-shadow: #fdf8f8 0px 0 4px;
}

.container {
  border-radius: 10px;
  padding: 20px 30px;
}
header {
  margin-bottom: 20px;
  background-color: #006f57;
  color: #fff3f4;
}

h1 {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 34px;
  text-align: center;
  margin: 6px 0;
}
h2 {
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 26px;
}

.input-form {
  display: flex;
  justify-content: space-between;
  height: 38px;
  font-size: 14px;
}

.input-text {
  width: 80%;
  border-radius: 4px;
  border: 2px solid #710f16;
  background-color: #fff3f4e3;
  padding: 0px 10px;
}

.input-submit {
  border-radius: 4px;
  border: 2px solid #710f16;
  background-color: #710f16;
  color: #ffffff;
  width: 18%;
  cursor: pointer;
  transition: all 200ms;
}

.input-submit:hover {
  border: 2px solid #fff3f4;
  opacity: 0.95;
}
.output-display {
  background-color: #fff3f4ed;
  color: #1b0204;
  margin-top: 20px;
}

footer {
  font-size: 14px;
  text-align: center;
  color: #520c11;
  font-weight: 500;
  margin: 10px;
  text-shadow: #fdf8f8 0px 0 3px;
}
footer a {
  text-decoration: none;
  color: #95232b;
}
footer a:hover {
  text-decoration: underline;
}

/*
RED1
  #BB010B
RED2
  #CD1624
GREEN1
  #006F57
GEEN2
  #23856D
WHITE
  #FAF8F8
*/
