* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
}
body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/110/937/original/pexels-megha-mangal-802055.jpg?1705495190");
  background-position: center;
  background-size: cover;
  font-family: "Poppins", sans-serif;
}

.filter {
  background-color: #3a3a3a20;
  min-height: 100vh;
}

section {
  max-width: 630px;
  margin: 0px auto;
  padding-top: 40px;
}
.label-ai {
  font-size: 18px;
  color: #006f57;
  font-weight: 500;
  margin-bottom: 10px;
  text-shadow: #ffffffca 0px 0 10px;
}

.container {
  border-radius: 10px;
  padding: 24px;
}
header {
  box-shadow: 1px 1px 14px 1px #525252a3;
  margin-bottom: 20px;
  background-color: #006f57;
  color: #fff3f4;
}

h1 {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 34px;
  text-align: center;
  margin-bottom: 10px;
}
h2 {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
}

.div-buttons {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
.button {
  margin: 0 8px;
  padding: 6px 14px;
  border-radius: 6px;
  background-color: #006f57;
  border: 1.5px solid #faf8f8;
  color: #faf8f8;
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  transition: all 150ms;
}
.button:hover {
  background-color: #faf8f8;
  color: #006f57;
  cursor: pointer;
}
.input-form {
  display: flex;
  justify-content: space-between;
  height: 38px;
  font-size: 14px;
}

.input-text {
  font-size: 14px;
  width: 78%;
  border-radius: 6px;
  border: 2px solid #8e0f18;
  background-color: #faf8f8e9;
  padding: 0px 10px;
  font-family: "Poppins", sans-serif;
}

.input-submit {
  border-radius: 6px;
  font-size: 14px;
  border: 2px solid #8e0f18;
  background-color: #8e0f18;
  color: #faf8f8;
  width: 20%;
  cursor: pointer;
  transition: all 150ms;
  font-family: "Poppins", sans-serif;
  box-shadow: 1px 1px 10px 1px #525252a3;
}

.input-submit:hover {
  border: 2px solid #faf8f8;
  opacity: 0.98;
}
h3 {
  font-weight: 400;
  font-size: 20px;
  color: #006f57;
}
.output-display {
  background-color: #faf8f8f2;
  line-height: 34px;
  box-shadow: 1px 1px 14px 1px #525252a3;
  color: #1b0204;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
}
.disabled {
  display: none;
}
.Typewriter__wrapper ul {
  margin: 6px 16px;
}

footer {
  font-size: 14px;
  text-align: center;
  color: #006f57;
  font-weight: 500;
  margin: 10px;
  text-shadow: #ffffff 1px 0 10px;
}
footer a {
  text-decoration: none;
  color: #8e0f18;
}
footer a:hover {
  text-decoration: underline;
}

/*
RED1
  710f16
GREEN1
  #006F57
GEEN2
  #23856D
WHITE
  #FAF8F8
*/
